<div class="card">
    <div class="card_til">
        <h1 class="text-white">PENALTIS</h1>
    </div>
    <div class="card_circ">
        <div class="wave-group1">
            <textarea id="texto"  class="input1" (input)="convertir()" [(ngModel)]="texto" rows="2"></textarea>    
        </div>
        <label for="" class="text-white" [style.color]="color2">{{contador}}</label>
        <div class="circ" [style.background-color]="backColor1">
            <button (click)="colorVerde()">.</button>
            <button (click)="colorRojo()">.</button>
        </div>
        <div class="circ" [style.background-color]="backColor2">
            <button (click)="colorVerde1()">.</button>
            <button (click)="colorRojo1()">.</button>
        </div>
        <div class="circ" [style.background-color]="backColor3">
            <button (click)="colorVerde2()">.</button>
            <button (click)="colorRojo2()">.</button>
        </div>
        <div *ngIf="visibCirc2" class="circ" [style.background-color]="backColor4">
            <button (click)="colorVerde3()">.</button>
            <button (click)="colorRojo3()">.</button>
        </div>
        <div *ngIf="visibCirc2" class="circ" [style.background-color]="backColor5">
            <button (click)="colorVerde4()">.</button>
            <button (click)="colorRojo4()">.</button>
        </div>
        <div *ngIf="visibCirc5" class="circ_1" [style.background-color]="backColor11">
            <button (click)="colorVerde5()">.</button>
            <button (click)="colorRojo5()">.</button>        
        </div>
        <div *ngIf="visibCirc5" class="circ_2" [style.background-color]="backColor12">
            <button (click)="colorVerde6()">.</button>
            <button (click)="colorRojo6()">.</button>        
        </div>
        <div *ngIf="visibCirc5" class="circ_3" [style.background-color]="backColor13">
            <button (click)="colorVerde7()">.</button>
            <button (click)="colorRojo7()">.</button>        
        </div>
        <div *ngIf="visibCirc5" class="circ_4" [style.background-color]="backColor14">
            <button (click)="colorVerde8()">.</button>
            <button (click)="colorRojo8()">.</button>        
        </div>
        <div *ngIf="visibCirc5" class="circ_5" [style.background-color]="backColor15">
            <button (click)="colorVerde9()">.</button>
            <button (click)="colorRojo9()">.</button>        
        </div>
        <div *ngIf="visibCirc7" class="circ_6" [style.background-color]="backColor21">
            <button (click)="colorVerde21()">.</button>
            <button (click)="colorRojo21()">.</button>        
        </div>
        <div *ngIf="visibCirc7" class="circ_7" [style.background-color]="backColor22">
            <button (click)="colorVerde22()">.</button>
            <button (click)="colorRojo22()">.</button>        
        </div>
        
    </div>
    <div class="card_circ1">
        <div class="circ" [style.background-color]="backColor6">
            <button (click)="colorVerde10()">.</button>
            <button (click)="colorRojo10()">.</button>
        </div>
        <div class="circ" [style.background-color]="backColor7">
            <button (click)="colorVerde11()">.</button>
            <button (click)="colorRojo11()">.</button>
        </div>
        <div class="circ" [style.background-color]="backColor8">
            <button (click)="colorVerde12()">.</button>
            <button (click)="colorRojo12()">.</button>
        </div>
        <div *ngIf="visibCirc2" class="circ" [style.background-color]="backColor9">
            <button (click)="colorVerde13()">.</button>
            <button (click)="colorRojo13()">.</button>
        </div>
        <div *ngIf="visibCirc2" class="circ" [style.background-color]="backColor0">
            <button (click)="colorVerde14()">.</button>
            <button (click)="colorRojo14()">.</button>
        </div>
        <div *ngIf="visibCirc5" class="circ1_1" [style.background-color]="backColor16">
            <button (click)="colorVerde15()">.</button>
            <button (click)="colorRojo15()">.</button>
        </div>
        <div *ngIf="visibCirc5" class="circ1_2" [style.background-color]="backColor17">
            <button (click)="colorVerde16()">.</button>
            <button (click)="colorRojo16()">.</button>
        </div>
        <div *ngIf="visibCirc5" class="circ1_3" [style.background-color]="backColor18">
            <button (click)="colorVerde17()">.</button>
            <button (click)="colorRojo17()">.</button>
        </div>
        <div *ngIf="visibCirc5" class="circ1_4" [style.background-color]="backColor19">
            <button (click)="colorVerde18()">.</button>
            <button (click)="colorRojo18()">.</button>
        </div>
        <div *ngIf="visibCirc5" class="circ1_5" [style.background-color]="backColor20">
            <button (click)="colorVerde19()">.</button>
            <button (click)="colorRojo19()">.</button>
        </div> 
        <div *ngIf="visibCirc7" class="circ1_6" [style.background-color]="backColor23">
            <button (click)="colorVerde23()">.</button>
            <button (click)="colorRojo23()">.</button>
        </div> 
        <div *ngIf="visibCirc7" class="circ1_7" [style.background-color]="backColor24">
            <button (click)="colorVerde24()">.</button>
            <button (click)="colorRojo24()">.</button>
        </div> 
        <div class="wave-group2">
            <textarea id="texto"  class="input2" (input)="convertir1()" [(ngModel)]="texto1" rows="2"></textarea>    
        </div>   
        <label for="" class="count text-white" [style.color]="color1">{{ contador1 }}</label> 
    </div>
    <h1 class="creator">DESARROLLADO POR:Clever Fernandez Heredia</h1>
    <button class="button_1" (click)="visibleCi2()">+2</button>
    <button class="button_2" (click)="visibleCi5()">+5</button>
    <button class="button_3" (click)="visibleCi7()">+7</button>
</div>
<div class="conteiner">
    <div (keydown)="hand($event)" tabindex="0">
    </div>
</div>
        