@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #222121;

}
.card_1{
    position: relative;
    top: 300px;
}
.card_text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 3px solid white;
    height: 250px;
    margin-top: 300px;
    width: 650px;
}
.card_til{
    position: relative;
    top: 100px;
    margin: 40px;
}
.card h2{
    color: red;
    font-size: 9rem;

}
.text{
    color: red;
    font-size: 15rem;
}
.card_gol{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 350px;
}
.card_equip1,.card_equip2,.card_equip3{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.card_equip1_falta1{
    margin-top: 100px;
}
.card_equip1_falta1 h2{
    position: relative;
    top: 50px;
    color: white;
    font-weight:600;
    font-size: 2rem;
}
.card_equip2_falta{
    margin-top: 100px;
}
.card_equip2_falta h2{
    position: relative;
    top: 50px;
    color: white;
    font-weight:600;
    font-size: 2rem;
}
.card_equip3 h2{
    position: relative;
    top: 50px;
    color: white;
    font-weight:600 ;
    font-size: 2rem;
}
.card_equip3_1{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: black;
    border: 3px solid white;
    font-size: 10rem;
    height: 150px;
    width: 150px;
}
.text1{
    color: red;
    font-size: 16rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    border-top: 4px solid white ;
    border-right: 4px solid white ;
}
.text2{
    color: rgb(255, 247, 10);
    font-size: 16rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    border-top: 4px solid white ;
    border-right: 4px solid white ;
}
.wave-group {
    position: relative;
}

.wave-group .input {
  text-align: center;
  color: white;
  font-size: 70px;
  padding: 10px 10px 10px 5px;
  display: block;
  font-weight: 600;
  border: none;
  width: 500px;
  height: 100px;
  resize: none;
  overflow: hidden;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

