@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.card_1{
    text-align: center;
    position: relative;
    top: 270px;
}
.card_til{
    position: relative;
    top: 100px;
}
.card h2{
    color: red;
    font-size: 7rem;
}
.text{
    color: red;
    font-size: 15rem;
}
.card_gol{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 600px;
    align-items: center;
    margin-bottom: 400px;
}
.card_equip1,.card_equip2,.card_equip3{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card_equip3{
    position: absolute;
    top: 500px;
}
.card_equip3 h2{
    font-size: 3rem;
}
.text1{
    color: red;
    font-size: 12rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    border-top: 4px solid white ;
    border-right: 4px solid white ;
}
.text2{
    color: rgb(255, 247, 10);
    font-size: 14rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    border-top: 4px solid white ;
    border-right: 4px solid white ;
}
.wave-group {
    position: relative;
}

.wave-group .input {
  text-align: center;
  color: red;
  font-size: 40px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  width: 250px;
  height: 200px;
  resize: none;
  overflow: hidden;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}
  