@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:"FX-LED Bold.TTF";
    src: url("utils/FX-LED Bold.TTF");
}
@font-face {
    font-family:"Montserrat-Regular.ttf";
    src: url("utils/Montserrat-Regular.ttf");
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #222121;
}
.card_1{
    position: relative;
    top: 350px;
}
.card_text{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 3px solid white;
    height: 200px;
    width: 530px;
    margin-top: 300px;
}
.card_til{
    position: relative;
    top: 100px;
    margin: 40px;
}
.card h2{
    color: red;
    font-size: 2rem;

}
.text{
    color: red;
    font-size: 14rem;
    font-family:"FX-LED Bold.TTF";
    src: url("utils/FX-LED Bold.TTF");
}
.card_gol{
    position: relative;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 430px;

}
.card_equip1,.card_equip2,.card_equip3{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.card_equip1_falta1{
    margin-top: 100px;
}
.card_equip1_falta1 h2{
    position: relative;
    top: 50px;
    color: white;
    font-weight:600;
    font-size: 2rem;
}
.card_equip2_falta{
    margin-top: 100px;
}
.card_equip2_falta h2{
    position: relative;
    top: 50px;
    color: white;
    font-weight:600;
    font-size: 2rem;
}
.card_equip3 h2{
    position: relative;
    top: 50px;
    color: white;
    font-weight:600 ;
    font-size: 2rem;
}
.card_equip3_1{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: black;
    border: 3px solid white;
    font-size: 10rem;
    height: 150px;
    width: 150px;
    font-family:"FX-LED Bold.TTF";
    src: url("utils/FX-LED Bold.TTF");
    
}
.text1{
    font-family:"FX-LED Bold.TTF";
    src: url("utils/FX-LED Bold.TTF");
    color: red;
    font-size: 21rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    border-top: 4px solid white ;
    border-right: 4px solid white ;
}
.text2{
    font-family:"FX-LED Bold.TTF";
    src: url("utils/FX-LED Bold.TTF");
    color: rgb(255, 247, 10);
    font-size: 21rem;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    border-top: 4px solid white ;
    border-right: 4px solid white ;
}
.wave-group {
    position: relative;
}

.wave-group .input {
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight: 800;
  font-family: "Montserrat-Regular.ttf";
  src: url("utils/Montserrat-Regular.ttf");
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  width: 500px;
  height: 100px;
  resize: none;
  overflow: hidden;
  border-bottom:transparent;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

